---
---

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="./assets/css/colaso.css">
<link rel="stylesheet" href="/assets/css/flickity.css" media="screen"> 
 
<div class="foto foto2">
  <div class="main-gallery galeria js-flickity" data-flickity-options='{ "wrapAround": true, "autoPlay": 5000 }'>
    <div class="gallery-cell celda celda1"></div>
    <div class="gallery-cell celda celda2"></div>
    <div class="gallery-cell celda celda3"></div>
  </div>
</div>

<div class="teto">

  <div class="tetodentro hover_img">
    <h1>Hola, soy <a href="#">Isaac Colaso<span><img src="/assets/img/caca.jpg" alt="image" height="100" /></span></a>. Soy diseñador y estoy construyendo aquí mi portfolio. Dos de mis trabajos recientes son este y este.</h1>
    <p><-- Aquí te dejo muestras de algunos de mis trabajos.</p>
  </div>
</div>

<div class="foto foto1">
  <div class="main-gallery galeria js-flickity" data-flickity-options='{ "wrapAround": true, "autoPlay": 5000 }'>
    <div class="gallery-cell celda celda1"></div>
    <div class="gallery-cell celda celda2"></div>
    <div class="gallery-cell celda celda3"></div>
  </div>
</div>



<div class="tercero">
</div>

<div class="container">
</div>



<script src="/assets/js/flickity.pkgd.min.js"></script>

<!-- 
<div id="msg" style="width: 1000px; height: 1000px; border: 1px solid blue;"><img src="/assets/img/caca.jpg" alt="image" /></div>

<script type="text/javascript">

  function getMouseCoords(e) {
    var e = e || window.event;
    document.getElementById('msg').innerHTML = e.clientX + ', ' + 
             e.clientY + '<br>' + e.screenX + ', ' + e.screenY;
  }
  
  
  var followCursor = (function() {
    var s = document.createElement('div');
    s.style.position = 'absolute';
    s.style.margin = '0';
    s.style.padding = '5px';
    s.style.border = '1px solid red';
  
    return {
      init: function() {
        document.body.appendChild(s);
      },
  
      run: function(e) {
        var e = e || window.event;
        s.style.left  = (e.clientX - 5) + 'px';
        s.style.top = (e.clientY - 5) + 'px';
        getMouseCoords(e);
      }
    };
  }());
  
  window.onload = function() {
    followCursor.init();
    document.body.onmousemove = followCursor.run;
  }
  
  </script>
-->